
@import '../amui/css/amazeui.css';

body {min-height: 100vh;color: var(--el-color-info-dark-2);margin: 0;background-color: #f5f5f5;}

.width-100{width: 100%;}
.width-50{width: 50% !important;}

.w100{width: 100px !important;}
.w150{width: 150px !important;}
.w200{width: 200px !important;}
.w250{width: 250px !important;}

.text-right{text-align: right;}
/*原生组件样式*/
.el-button--small{padding:5px !important;--el-button-size: 20px !important;}
.el-table-pagination {background-color: white;padding: 10px;}
.el-table-search {background-color: white;padding: 10px;margin-bottom: 10px;}
.el-table-search .toolbar{display: initial;margin-left: 10px;}
.el-table-toolbar {background-color: white;text-align: right;padding: 10px;}
.el-form-info .el-dialog__header{margin-right:0;border-bottom: 1px solid #eee;}
.el-form-info .el-dialog__footer{box-shadow:  0px 12px 32px 4px rgba(0, 0, 0, .04),0px 8px 20px rgba(0, 0, 0, .08);}
.el-form-info .el-dialog__body .el-scrollbar{height: calc(100vh - 400px) !important;}
/*布局模块*/
.el-main{height: calc(100vh - 60px);padding: 10px !important;}
.el-aside{width:auto !important;background-color: #000c17;}
.el-menu{border-right:none !important}
.el-header{background-color: white;box-shadow: 0 1px 4px rgb(0 21 41 / 8%);}
.el-header .toolbar-container{display: flex;justify-content: space-between;height: 100%;align-items: center;}
.el-header .el-dropdown-link {cursor: pointer;color: var(--el-menu-text-color);}
.layout-logo{height: 50px;text-align: center;line-height: 50px;background: #001529;}
.layout-logo .title{color: white;font-weight: 500;}
.layout-menu ul{background-color: #000c17;}
.layout-menu .el-sub-menu__title:hover{background-color: transparent !important;}
.layout-menu .el-sub-menu__title{color: white;}
.layout-menu .el-menu-item{background-color: transparent !important;color: white;}
.layout-menu .el-menu-item.is-active{background-color: #1890ff !important;color: white;}

/*table模块*/
.el-table tr th{ padding: 5px; background-color: #f1f1f1;background-image: linear-gradient(180deg, #fff, #f1f1f1);}
